@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

$black: #383635;
$white: #f2f2f2;
$dark-green: #2fae4d;
$light-green: #85c044;
$orange: #f0aa3a;
$yellow: #f2da30;

$darker-green-text: #5a863a;
$light-green-text: #7bb63d;


#index {
	// display: none;
}